page-home {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  ion-content {
    background-image: url('/assets/imgs/love-coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .toolbar-background {
    background: transparent;
    border-color: unset;
  }
  .segment-button {
    color: white;
  }
  .segment-button.segment-activated {
    color: map-get($colors, primary) !important;
    border-color: map-get($colors, primary) !important;
    font-size: 1em;
    font-weight: 600;
  }
  .scroll-content {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
  ion-grid {
    height: 100%;
  }
  h1 {
    font-weight: 800;
    font-size: 3em;
    color: white;
    margin-top: 8%;
  }
  .informations {
    margin-top: 8%;
    h3 {
      color: white;
    }
    p {
      font-size: 1.2em;
      margin: 4%;
      padding: 2%;
      background-color: rgba(255, 255, 255, 0.4);
    }
    b {
      color: black;
      background-color: palevioletred;
    }
    ion-icon {
      color: white;
      font-size: 4em;
    }
  }
  .experience {
    margin-top: 8%;    
    .icon-col {
      border: 2px solid rgba(255, 255, 255, 0.4);
    }
    .xp-description {
      background-color: rgba(255, 255, 255, 0.4);
    }
    h3 {
      margin-left: 4px;
    }
    p {
      margin: 4px;
    }
    ion-icon {
      font-size: 8em;
      padding: 10px;
    }
  }
  .projects {
    p {
      color: white;
    }
  }
  .contact {
    margin-top: 8%;
    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      padding: 4px;
      border: 2px solid rgba(255, 255, 255, 0.4);
    }
    .quote {      
      max-width: 300px;
      p {
        color: white;
      }
    }
    .social {
      margin-top: 8%;
      ion-col {
        border-right: 2px solid rgba(255, 255, 255, 0.4);
      }
      ion-col:last-child {
        border-right: unset !important;
      }
      ion-icon {
        color: white;    
        font-size: 6em;    
      }
    }
  }
}
